In [1]:
#%pip install psycopg2
from io import StringIO
import numpy as np
import gc
from IPython import get_ipython
get_ipython().magic('reset -sf')
import polygon
from datetime import date
import pandas as pd
import pytz
import pandas_market_calendars as mcal
import os
import gc
from sqlalchemy import create_engine
import psycopg2

gc.collect()

0

In [2]:
key = "XcMpxms7nqIA8GVs1Ka9hpsoZ7kwrDaI"
client = polygon.StocksClient(key)
reference_client = polygon.ReferenceClient(key)
#postgres access 
conn_string = 'postgresql://Matt:4989@localhost/polygon'
param_dic = {
    "host": "localhost",
    "database": "polygon",
    "user": "Matt",
    "password": "4989"
}

Define function to transform to pandas

In [3]:

def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1)
    print("Connection successful")
    return conn

First collect all the common stock tickers from the ploygon.io database

In [23]:
 
#download the data 
tics = pd.DataFrame(reference_client.get_tickers(symbol_type='CS',
                                                 market='stocks', all_pages=True))
                                                 
tics = tics.drop('last_updated_utc', axis = 1)
tics =tics.astype('string')
tics=tics[(tics['currency_name']=='usd') & (tics.locale=='us') ]
#send to postgres

db = create_engine(conn_string)
conn = db.connect()
 
tics.to_sql('tickers', con=conn, if_exists='replace', index=False)
 
conn.close()
gc.collect()

964

Grab the first date in the polygon daily bars (adjusted)

In [46]:
#get the first date in the poly database to create the table
tics = pd.DataFrame(reference_client.get_tickers(symbol_type='CS',
                                                 market='stocks', all_pages=True))
tics = tics.drop('last_updated_utc', axis=1)
tics = tics.astype('string')
tics = tics[(tics['currency_name'] == 'usd') & (tics.locale == 'us')]
tics1 = tics[['ticker', 'cik', 'composite_figi',
             'share_class_figi', 'primary_exchange']]

col_tps = {
    'ticker': 'string',
    'v': 'float64',
    'vw': 'float64',
    'o': 'float64',
    'c': 'float64',
    'h': 'float64',
    'l': 'float64',
    'n': 'float64'
}
ochlv_adj = pd.DataFrame(
    client.get_grouped_daily_bars('2012-03-12').get('results'))
 
ochlv_adj = ochlv_adj.rename(columns={"T": "ticker"})
ochlv_adj = ochlv_adj.fillna(0)
ochlv_adj = ochlv_adj.astype(dtype=col_tps)
ochlv_adj.columns = ['ticker', 'v_a', 'vw_a',
                     'o_a', 'c_a', 'h_a', 'l_a', 't', 'n']
ochlv_adj.loc[:, 'date'] = '2012-03-12'
ochlv_adj['date'] = ochlv_adj['date'].astype('string')
ochlv_adj = ochlv_adj.drop('t', axis=1)

j1 = tics1.merge(ochlv_adj, left_on='ticker', right_on='ticker')


db = create_engine(conn_string)
conn = db.connect()
j1.to_sql('ochlv_adj', con=conn, if_exists='replace', index=False)
conn.close()

In [44]:
tics = pd.DataFrame(reference_client.get_tickers(symbol_type='CS',
                                                 market='stocks', all_pages=True))
tics = tics.drop('last_updated_utc', axis=1)
tics = tics.astype('string')
tics = tics[(tics['currency_name'] == 'usd') & (tics.locale == 'us')]
tics1 = tics[['ticker', 'cik', 'composite_figi',
             'share_class_figi', 'primary_exchange']]

col_tps = {
    'ticker': 'string',
    'v': 'float64',
    'vw': 'float64',
    'o': 'float64',
    'c': 'float64',
    'h': 'float64',
    'l': 'float64',
    'n': 'float64'
}
ochlv = pd.DataFrame(
    client.get_grouped_daily_bars('2012-03-12',adjusted=False).get('results'))
ochlv= ochlv.fillna(0)
ochlv = ochlv.rename(columns={"T": "ticker"})

ochlv = ochlv.astype(dtype=col_tps)

ochlv.loc[:, 'date'] = '2012-03-12'
ochlv['date'] = ochlv['date'].astype('string')
ochlv = ochlv.drop('t', axis=1)

j1 = tics1.merge(ochlv, left_on='ticker', right_on='ticker')


db = create_engine(conn_string)
conn = db.connect()
j1.to_sql('ochlv', con=conn, if_exists='replace', index=False)
conn.close()

Append data to the polygon daily bars (adjusted)

In [47]:
 

def clean_poly(xd):
    col_tps = {
        'ticker': 'string',
        'v': 'float64',
        'vw': 'float64',
        'o': 'float64',
        'c': 'float64',
        'h': 'float64',
        'l': 'float64',
        'n': 'float64'
    }
    
    ochlv_adj = pd.DataFrame(
        client.get_grouped_daily_bars(xd).get('results'))
    ochlv_adj = ochlv_adj.rename(columns={"T": "ticker"})
    ochlv_adj = ochlv_adj.fillna(0)
    ochlv_adj = ochlv_adj.astype(dtype=col_tps)
    ochlv_adj.columns = ['ticker', 'v_a', 'vw_a',
                     'o_a', 'c_a', 'h_a', 'l_a', 't', 'n']
    ochlv_adj.loc[:, 'date'] = xd
    ochlv_adj['date'] = ochlv_adj['date'].astype('string')
    ochlv_adj = ochlv_adj.drop('t', axis=1)
    j1 = tics1.merge(ochlv_adj, left_on='ticker', right_on='ticker')
    
    return j1


##################
nyse = mcal.get_calendar('NYSE')
mkt = nyse.schedule(start_date='2012-03-13', end_date='2022-03-04')
mkt.loc[:, 'date'] = pd.to_datetime(
    mkt.market_close, format='Y%m%d').dt.normalize()
mkt.loc[:, 'sdate'] = mkt.date.dt.strftime('%Y-%m-%d')
mkt.sdate = mkt.sdate.astype('string')
d_list =mkt.sdate.tolist()
gc.collect()

conn = connect(param_dic)  # connect to the database
for d in d_list:
 copy_from_stringio(conn, clean_poly(d), 'ochlv_adj')  # copy the dataframe to SQL
conn.close()

C:\Users\mrl898\AppData\Local\Temp/ipykernel_6620/143050089.py:30: FutureWarning: DatetimeIndex.union_many is deprecated and will be removed in a future version. Use obj.union instead.
  mkt = nyse.schedule(start_date='2012-03-13', end_date='2022-03-04')
C:\Users\mrl898\AppData\Local\Temp/ipykernel_6620/143050089.py:30: FutureWarning: DatetimeIndex.union_many is deprecated and will be removed in a future version. Use obj.union instead.
  mkt = nyse.schedule(start_date='2012-03-13', end_date='2022-03-04')
C:\Users\mrl898\AppData\Local\Temp/ipykernel_6620/143050089.py:30: FutureWarning: DatetimeIndex.union_many is deprecated and will be removed in a future version. Use obj.union instead.
  mkt = nyse.schedule(start_date='2012-03-13', end_date='2022-03-04')

Connecting to the PostgreSQL database...
Connection successful

In [45]:
def clean_poly2(xd):
    col_tps = {
        'ticker': 'string',
        'v': 'float64',
        'vw': 'float64',
        'o': 'float64',
        'c': 'float64',
        'h': 'float64',
        'l': 'float64',
        'n': 'float64'
    }

    ochlv_adj = pd.DataFrame(
        client.get_grouped_daily_bars(xd,adjusted=False).get('results'))
    ochlv_adj = ochlv_adj.rename(columns={"T": "ticker"})
    ochlv_adj=ochlv_adj.fillna(0) 
    ochlv_adj = ochlv_adj.astype(dtype=col_tps)
     
    ochlv_adj.loc[:, 'date'] = xd
    ochlv_adj['date'] = ochlv_adj['date'].astype('string')
    ochlv_adj = ochlv_adj.drop('t', axis=1)
    j1 = tics1.merge(ochlv_adj, left_on='ticker', right_on='ticker')

    return j1


##################
nyse = mcal.get_calendar('NYSE')
mkt = nyse.schedule(start_date='2012-03-13', end_date='2022-03-04')
mkt.loc[:, 'date'] = pd.to_datetime(
    mkt.market_close, format='Y%m%d').dt.normalize()
mkt.loc[:, 'sdate'] = mkt.date.dt.strftime('%Y-%m-%d')
mkt.sdate = mkt.sdate.astype('string')
d_list = mkt.sdate.tolist()
gc.collect()

conn = connect(param_dic)  # connect to the database
for d in d_list:
 # copy the dataframe to SQL
 copy_from_stringio(conn, clean_poly2(d), 'ochlv')
conn.close()

C:\Users\mrl898\AppData\Local\Temp/ipykernel_6620/716857870.py:29: FutureWarning: DatetimeIndex.union_many is deprecated and will be removed in a future version. Use obj.union instead.
  mkt = nyse.schedule(start_date='2012-03-13', end_date='2022-03-04')
C:\Users\mrl898\AppData\Local\Temp/ipykernel_6620/716857870.py:29: FutureWarning: DatetimeIndex.union_many is deprecated and will be removed in a future version. Use obj.union instead.
  mkt = nyse.schedule(start_date='2012-03-13', end_date='2022-03-04')
C:\Users\mrl898\AppData\Local\Temp/ipykernel_6620/716857870.py:29: FutureWarning: DatetimeIndex.union_many is deprecated and will be removed in a future version. Use obj.union instead.
  mkt = nyse.schedule(start_date='2012-03-13', end_date='2022-03-04')

Connecting to the PostgreSQL database...
Connection successful

In [43]:
conn.close()

In [37]:


ochlv = pd.DataFrame(
    client.get_grouped_daily_bars('2012-03-12', adjusted=False).get('results'))
ochlv['t'] = pd.to_datetime(ochlv['t'], unit='ms')
ochlv = ochlv.rename(columns={"T": "ticker"})
ochlv = ochlv.astype(dtype=col_tps)
ochlv = ochlv.drop('t', axis=1)
ochlv.loc[:, 'date'] = '2012-03-12'
ochlv['date'] = ochlv_adj['date'].astype('string')
ochlv

,ticker,v,vw,o,c,h,l,n,date
0,ROSG,62514.0,0.3012,0.3100,0.2901,0.3276,0.2900,51.0,2012-03-12
1,GPEpA,1074.0,28.1706,28.3399,27.8900,28.3399,27.8000,5.0,2012-03-12
2,YORW,7971.0,17.2800,17.2700,17.2900,17.3400,17.2000,41.0,2012-03-12
3,COY,67480.0,7.6940,7.6600,7.7500,7.7600,7.6600,168.0,2012-03-12
4,RENN,9512548.0,5.6804,5.8000,5.6100,5.9000,5.5200,25932.0,2012-03-12
...,...,...,...,...,...,...,...,...,...
7428,TLF,706.0,5.2349,5.2400,5.2300,5.2410,5.2300,5.0,2012-03-12
7429,SJI,111484.0,51.7640,51.4000,51.7800,52.0000,51.3601,786.0,2012-03-12
7430,DLRpE,22201.0,26.0989,26.2900,26.0599,26.3000,25.9200,92.0,2012-03-12
7431,TSON,109596.0,3.3109,3.4500,3.2800,3.4500,3.2400,429.0,2012-03-12
7432,ALG,11195.0,27.0928,27.3600,26.9400,27.4499,26.7500,86.0,2012-03-12

In [47]:
from sqlalchemy import create_engine
import psycopg2
from io import StringIO

conn_string = 'postgresql://Matt:4989@localhost/polygon'
db = create_engine(conn_string)
conn = db.connect()
ochlv_adj.to_sql('ochlv_adj', con=conn, if_exists='replace', index=False)
conn.close()
conn_string = 'postgresql://Matt:4989@localhost/polygon'
db = create_engine(conn_string)
conn = db.connect()
ochlv.to_sql('ochlv', con=conn, if_exists='replace', index=False)
conn.close()

In [48]:
param_dic = {
    "host": "localhost",
    "database": "polygon",
    "user": "Matt",
    "password": "4989"
}


def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1)
    print("Connection successful")
    return conn


def copy_from_stringio(conn, df, table):
    """
    Here we are going save the dataframe in memory 
    and use copy_from() to copy it to the table
    """
    # save dataframe to an in memory buffer
    buffer = StringIO()
    df.to_csv(buffer, index=False, header=False)
    buffer.seek(0)

    cursor = conn.cursor()
    try:
        cursor.copy_from(buffer, table, sep=",")
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("copy_from_stringio() done")
    cursor.close()

In [49]:
col_tps = {
    'ticker': 'string',
    'v': 'float64',
    'vw': 'float64',
    'o': 'float64',
    'c': 'float64',
    'h': 'float64',
    'l': 'float64',
    'n': 'float64'
}
ochlv_adj = pd.DataFrame(
    client.get_grouped_daily_bars('2012-03-13').get('results'))
ochlv_adj['t'] = pd.to_datetime(ochlv_adj['t'], unit='ms')
ochlv_adj = ochlv_adj.rename(columns={"T": "ticker"})
ochlv_adj = ochlv_adj.astype(dtype=col_tps)
ochlv_adj.columns = ['ticker', 'v_a', 'vw_a',
                     'o_a', 'c_a', 'h_a', 'l_a', 't', 'n']
ochlv_adj.loc[:, 'date'] = '2012-03-13'
ochlv_adj['date'] = ochlv_adj['date'].astype('string')
ochlv_adj = ochlv_adj.drop('t', axis=1)
ochlv_adj

conn = connect(param_dic)  # connect to the database
copy_from_stringio(conn, ochlv_adj, 'ochlv_adj')  # copy the dataframe to SQL
conn.close()  # close the connection

Connecting to the PostgreSQL database...
Connection successful
copy_from_stringio() done

In [24]:
tics=pd.read_parquet(
    'd:\\OneDrive - Northwestern University\\My files\\data_feeds\\data\\polygon\\tickers.parquet')
l_t=tics.dtypes    

tics.to_csv('d:\\OneDrive - Northwestern University\\My files\\data_feeds\\data\\polygon\\tickers.csv',index=False)

def clean_poly(x):
    col_tps = {
        'ticker': 'string',
        'v': 'float64',
        'vw': 'float64',
        'o': 'float64',
        'c': 'float64',
        'h': 'float64',
        'l': 'float64',
        'n': 'float64'
    }
    col_tps1 = {
        'ticker': 'string',
        'v': 'float64',
        'vw': 'float64',
        'o': 'float64',
        'c': 'float64',
        'h': 'float64',
        'l': 'float64',
        'n': 'float64',
        'v_a': 'float64',
        'vw_a': 'float64',
        'o_a': 'float64',
        'c_a': 'float64',
        'h_a': 'float64',
        'l_a': 'float64',
        'n_a': 'float64',
        'date': 'string'
    }
    ochlv_adj = pd.DataFrame(
        client.get_grouped_daily_bars(x).get('results'))
    ochlv_adj['t'] = pd.to_datetime(ochlv_adj['t'], unit='ms')
    ochlv_adj = ochlv_adj.rename(columns={"T": "ticker"})
    ochlv_adj = ochlv_adj.astype(dtype=col_tps)
    ochlv_adj.columns = ['ticker', 'v_a', 'vw_a', 'o_a', 'c_a','h_a','l_a','t','n']
    ochlv_adj = ochlv_adj.drop('t', axis=1)
    ochlv = pd.DataFrame(
        client.get_grouped_daily_bars(x,adjusted=False).get('results'))
    ochlv['t'] = pd.to_datetime(ochlv['t'], unit='ms')
    ochlv = ochlv.rename(columns={"T": "ticker"})
    ochlv = ochlv.astype(dtype=col_tps)
    ochlv = ochlv.drop('t', axis=1)
    prc=pd.merge(ochlv,ochlv_adj,on=['ticker'])

    prc.loc[:, 'date'] = x
    prc['date'] = prc['date'].astype('string')
    prc = prc[pd.to_numeric(prc_files['l_a'], errors='coerce').notnull()]
    prc = prc.astype(dtype=col_tps)
    j1 = tics.merge(prc, left_on='ticker', right_on='ticker')
   
    return j1

In [25]:
tics

,ticker,name,market,locale,primary_exchange,type,active,currency_name,cik,composite_figi,share_class_figi
0,A,Agilent Technologies Inc.,stocks,us,XNYS,CS,True,usd,0001090872,BBG000C2V3D6,BBG001SCTQY4
1,AA,Alcoa Corporation,stocks,us,XNYS,CS,True,usd,0001675149,BBG00B3T3HD3,BBG00B3T3HF1
2,AAC,Ares Acquisition Corporation,stocks,us,XNYS,CS,True,usd,0001829432,<NA>,<NA>
3,AACI,Armada Acquisition Corp. I Common Stock,stocks,us,XNAS,CS,True,usd,0001844817,BBG011XR7306,BBG011XR7315
4,AADI,"Aadi Bioscience, Inc. Common Stock",stocks,us,XNAS,CS,True,usd,0001422142,BBG002WN7DT2,BBG002WN7DV9
...,...,...,...,...,...,...,...,...,...,...,...
5795,ZWS,Zurn Water Solutions Corporation,stocks,us,XNYS,CS,True,usd,0001439288,BBG000H8R0N8,BBG001T36GB5
5796,ZY,Zymergen Inc. Common Stock,stocks,us,XNAS,CS,True,usd,0001645842,BBG0077HPN74,BBG0077HPN83
5797,ZYME,Zymeworks Inc.,stocks,us,XNYS,CS,True,usd,0001403752,BBG00GD15LJ5,BBG00247P1W0
5798,ZYNE,"Zynerba Pharmaceuticals, Inc",stocks,us,XNAS,CS,True,usd,0001621443,BBG007BBS8B7,BBG007BBS8C6
5799,ZYXI,ZYNEX INC,stocks,us,XNAS,CS,True,usd,0000846475,BBG000BJBXZ2,BBG001S7T7V0

In [21]:
dates = pd.read_parquet(
    'd:\\OneDrive - Northwestern University\\My files\\data_feeds\\data\\polygon\\dates.parquet')
d_list = dates.sdate.tolist()
def to_parq(x):
    clean_poly(x).to_parquet(
        f"d:\\OneDrive - Northwestern University\\My files\\data_feeds\\data\\polygon\\Daily_Price_Files_Parquet\\dprc_{x}.parquet")

In [11]:
[to_parq(d) for d in d_list]

gc.collect()

0

In [12]:
import gc
import dask.dataframe as dd
ddf = dd.read_parquet(
    'd:\\OneDrive - Northwestern University\\My files\\data_feeds\\data\\polygon\\Daily_Price_Files_Parquet\\dprc_*.parquet'    ,  index=False)

gc.collect()
prc_files = ddf.compute()

In [22]:

ddf

Dask DataFrame Structure:
                  ticker    name  market  locale primary_exchange    type  active currency_name     cik composite_figi share_class_figi        v       vw        o        c        h        l        n      v_a     vw_a      o_a      c_a      h_a      l_a    date __index_level_0__
npartitions=2513
                  object  object  object  object           object  object  object        object  object         object           object  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  object             int64
                     ...     ...     ...     ...              ...     ...     ...           ...     ...            ...              ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...     ...               ...
...                  ...     ...     ...     ...              ...     ...     ...           ...     ...            ...              ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...     ...               ...
                     ...     ...     ...     ...              ...     ...     ...           ...     ...            ...              ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...     ...               ...
                     ...     ...     ...     ...              ...     ...     ...           ...     ...            ...              ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...     ...               ...
Dask Name: read-parquet, 2513 tasks

In [14]:
x = prc_files[pd.to_numeric(prc_files['l_a'], errors='coerce').notnull()]

In [16]:
x.dtypes

ticker                object
name                  object
market                object
locale                object
primary_exchange      object
type                  object
active                object
currency_name         object
cik                   object
composite_figi        object
share_class_figi      object
v                    float64
vw                   float64
o                    float64
c                    float64
h                    float64
l                    float64
n                    float64
v_a                  float64
vw_a                 float64
o_a                  float64
c_a                  float64
h_a                  float64
l_a                   object
date                  object
__index_level_0__      int64
dtype: object

Grab all the dividends

In [49]:
divs = pd.DataFrame(reference_client.get_stock_dividends(all_pages=True))
divs

,cash_amount,declaration_date,dividend_type,ex_dividend_date,frequency,pay_date,record_date,ticker
0,0.08000,1961-11-12,CD,1961-11-27,1,1961-12-22,1961-11-29,GAM
1,0.11000,1963-01-09,CD,1963-01-24,4,1963-02-26,1963-01-26,GAM
2,0.10000,1963-02-26,CD,1963-03-13,4,1963-04-01,1963-03-15,GAM
3,0.10000,1963-05-26,CD,1963-06-10,4,1963-07-01,1963-06-12,GAM
4,0.10000,1963-08-29,CD,1963-09-13,4,1963-11-29,1963-09-15,GAM
...,...,...,...,...,...,...,...,...
306184,0.59375,2020-09-09,CD,2024-06-13,4,2024-06-30,2024-06-15,CSSEN
306185,0.59375,2020-09-09,CD,2024-09-12,4,2024-09-30,2024-09-15,CSSEN
306186,0.59375,2020-09-09,CD,2024-12-12,4,2024-12-31,2024-12-15,CSSEN
306187,0.59375,2020-09-09,CD,2025-03-13,4,2025-03-31,2025-03-15,CSSEN
306188,0.59375,2020-09-09,CD,2025-06-12,4,2025-06-30,2025-06-15,CSSEN

In [55]:
divs.ticker=divs.ticker.astype('string')
divsm=pd.merge(tics.ticker,divs,on='ticker')
divsm

,ticker,cash_amount,declaration_date,dividend_type,ex_dividend_date,frequency,pay_date,record_date
0,A,0.100000,2012-01-19,CD,2012-03-30,4,2012-04-25,2012-04-03
1,A,0.100000,2012-05-17,CD,2012-06-29,4,2012-07-25,2012-07-03
2,A,0.100000,2012-09-21,CD,2012-09-28,4,2012-10-24,2012-10-02
3,A,0.100000,2012-11-16,CD,2012-12-27,4,2013-01-23,2012-12-31
4,A,0.120000,2013-01-17,CD,2013-03-28,4,2013-04-24,2013-04-02
...,...,...,...,...,...,...,...,...
157360,ZWS,0.030000,2021-10-21,CD,2021-11-18,4,2021-12-07,2021-11-19
157361,ZWS,0.030000,2022-02-03,CD,2022-02-17,4,2022-03-07,2022-02-18
157362,ZYXI,0.136364,2014-06-16,CD,2014-06-17,1,2014-06-27,2014-06-13
157363,ZYXI,0.063636,2018-11-06,SC,2018-12-31,0,2019-01-18,2019-01-02
157364,ZYXI,0.100000,2021-11-10,SC,2022-01-05,0,2022-01-21,2022-01-06

In [12]:
nyse = mcal.get_calendar('NYSE')
early = nyse.schedule(start_date='2014-01-01', end_date='2014-07-10')
early

C:\Users\mrl898\AppData\Local\Temp/ipykernel_28160/97421968.py:2: FutureWarning: DatetimeIndex.union_many is deprecated and will be removed in a future version. Use obj.union instead.
  early = nyse.schedule(start_date='2014-01-01', end_date='2014-07-10')
C:\Users\mrl898\AppData\Local\Temp/ipykernel_28160/97421968.py:2: FutureWarning: DatetimeIndex.union_many is deprecated and will be removed in a future version. Use obj.union instead.
  early = nyse.schedule(start_date='2014-01-01', end_date='2014-07-10')
C:\Users\mrl898\AppData\Local\Temp/ipykernel_28160/97421968.py:2: FutureWarning: DatetimeIndex.union_many is deprecated and will be removed in a future version. Use obj.union instead.
  early = nyse.schedule(start_date='2014-01-01', end_date='2014-07-10')

                         market_open              market_close
2014-01-02 2014-01-02 14:30:00+00:00 2014-01-02 21:00:00+00:00
2014-01-03 2014-01-03 14:30:00+00:00 2014-01-03 21:00:00+00:00
2014-01-06 2014-01-06 14:30:00+00:00 2014-01-06 21:00:00+00:00
2014-01-07 2014-01-07 14:30:00+00:00 2014-01-07 21:00:00+00:00
2014-01-08 2014-01-08 14:30:00+00:00 2014-01-08 21:00:00+00:00
...                              ...                       ...
2014-07-03 2014-07-03 13:30:00+00:00 2014-07-03 17:00:00+00:00
2014-07-07 2014-07-07 13:30:00+00:00 2014-07-07 20:00:00+00:00
2014-07-08 2014-07-08 13:30:00+00:00 2014-07-08 20:00:00+00:00
2014-07-09 2014-07-09 13:30:00+00:00 2014-07-09 20:00:00+00:00
2014-07-10 2014-07-10 13:30:00+00:00 2014-07-10 20:00:00+00:00

[131 rows x 2 columns]

In [116]:
col_tps = {
    'T': 'string',
    'v': 'float64',
    'vw': 'float64',
    'o': 'float64',
    'c': 'float64',
    'h': 'float64',
    'l': 'float64',
    't': 'int64',
    'n': 'float64'
}
ochlv_adj = pd.DataFrame(client.get_grouped_daily_bars('2012-03-05').get('results'))
ochlv_adj = ochlv_adj.astype(dtype=col_tps)
ochlv_adj.columns = ['T', 'v_a', 'vw_a', 'o_a', 'c_a','h_a','l_a','t','n']
ochlv = pd.DataFrame(client.get_grouped_daily_bars('2012-03-05',adjusted=False).get('results'))
ochlv = ochlv.astype(dtype=col_tps)
ochlv.sort_values('T',inplace=True)
ochlv_adj.sort_values('T', inplace=True)
ochlv
prc=pd.merge(ochlv,ochlv_adj,on=['T','n','t'])
j1 = tics.merge(prc, left_on='ticker', right_on='T')
j1

KeyError: "Only a column name can be used for the key in a dtype mappings argument. 'T' not found in columns."

In [59]:
j1.loc[:,'adj_factor']=j1.c_a/j1.c
j1

,ticker,name,market,locale,primary_exchange,type,active,currency_name,cik,composite_figi,...,l,t,n,v_a,vw_a,o_a,c_a,h_a,l_a,adj_factor
0,A,Agilent Technologies Inc.,stocks,us,XNYS,CS,True,usd,0001090872,BBG000C2V3D6,...,44.455,1333483200000,15526.0,3.854460e+06,32.0677,31.9891,32.0535,32.2823,31.7853,0.715001
1,AA,Alcoa Corporation,stocks,us,XNYS,CS,True,usd,0001675149,BBG00B3T3HD3,...,9.970,1333483200000,57760.0,9.823098e+06,30.1773,30.3300,30.1800,30.5400,29.9100,3.000000
2,AAME,Atlantic American Corp,stocks,us,XNAS,CS,True,usd,0000008177,BBG000B9XB24,...,2.830,1333483200000,4.0,7.190000e+02,2.8883,2.9200,2.8300,2.9200,2.8300,1.000000
3,AAN,"The Aaron's Company, Inc.",stocks,us,XNYS,CS,True,usd,0001821393,BBG00WCNDCZ6,...,25.925,1333483200000,4377.0,5.275450e+05,26.1211,26.0800,26.1200,26.2800,25.9250,1.000000
4,AAON,Aaon Inc,stocks,us,XNAS,CS,True,usd,0000824142,BBG000C2LZP3,...,19.910,1333483200000,279.0,9.879525e+04,8.9214,9.0178,8.9067,9.0178,8.8489,0.444446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2354,ZGNX,"Zogenix, Inc.",stocks,us,XNAS,CS,True,usd,0001375151,BBG000VDC3G9,...,2.050,1333483200000,547.0,1.568588e+04,16.6448,17.2000,16.5600,17.2000,16.4000,8.000000
2355,ZION,Zions Bancorporation N.A.,stocks,us,XNAS,CS,True,usd,0000109380,BBG000BX9WL1,...,21.070,1333483200000,21862.0,3.752655e+06,21.3268,21.3500,21.5100,21.5200,21.0700,1.000000
2356,ZIP,"ZipRecruiter, Inc.",stocks,us,XNYS,CS,True,usd,0001617553,BBG010JBYV98,...,13.750,1333483200000,1427.0,2.945230e+05,14.1461,14.6500,13.9200,14.6993,13.7500,1.000000
2357,ZNGA,ZYNGA INC. CL A COMMON,stocks,us,XNAS,CS,True,usd,0001439404,BBG000VD6768,...,12.190,1333483200000,31501.0,9.749067e+06,12.4426,12.8600,12.2900,12.9000,12.1900,1.000000
2358,ZUMZ,Zumiez Inc.,stocks,us,XNAS,CS,True,usd,0001318008,BBG000PYX812,...,37.250,1333483200000,5020.0,6.608730e+05,38.0547,37.4700,37.6000,38.7900,37.2500,1.000000

In [ ]:
col_tps = {
    'T': 'string',
    'v': 'float64',
    'vw': 'float64',
    'o': 'float64',
    'c': 'float64',
    'h': 'float64',
    'l': 'float64',
    't': 'int64',
    'n': 'float64'
}
df = pd.DataFrame(ochlv)

df = df.astype(dtype=col_tps)
df['t'] = pd.to_datetime(df['t'], unit='ms')
df['t']=df['t'].dt.tz_localize('UTC')
df['EST']=df['t'].dt.tz_convert('US/Eastern')
df['date'] = pd.to_datetime(df['t'], format='%Y%m%d').dt.date
df['date'] = pd.to_datetime(df['date'])
df.dtypes

In [119]:
df.dtypes

NameError: name 'df' is not defined

In [ ]:
df[['smbl_root', 'smbl_suffix']] = df['T'].str.split('.',n=1, expand=True)
df.smbl_suffix = df.smbl_suffix.fillna('')
df.dtypes

In [127]:
x = pd.DataFrame(client.get_grouped_daily_bars('2012-03-15').get('results'))
x

,T,v,vw,o,c,h,l,t,n
0,CSBC,2.200000e+03,4.3259,4.2700,4.3500,4.3600,4.2700,1331841600000,15
1,PSTR,2.280300e+04,3.4710,3.5200,3.4700,3.5500,3.4400,1331841600000,60
2,GENT,1.872500e+04,8.3568,8.4900,8.2550,8.5000,8.0100,1331841600000,120
3,SGA,3.021326e+03,30.7391,30.8176,30.7501,30.9301,30.3752,1331841600000,15
4,CRME,1.241290e+05,1.9690,1.9300,1.9800,2.0200,1.9300,1331841600000,731
...,...,...,...,...,...,...,...,...,...
7456,TTEK,1.601590e+05,24.0553,23.9100,24.1300,24.2000,23.8000,1331841600000,1183
7457,PWRD,1.224809e+06,12.9837,13.1100,12.5500,13.2400,12.5000,1331841600000,4159
7458,AHS,9.450700e+04,5.4634,5.3700,5.5800,5.5800,5.2966,1331841600000,457
7459,PZB,3.300000e+03,24.3103,24.5300,24.4500,24.5300,23.9800,1331841600000,18
7460,RASpB,6.272000e+03,22.4989,22.5500,22.4600,22.5999,22.4600,1331841600000,19