In [1]:
"""
Processing of the equity security master 
CSV downloaded via Amazon SW3 bucket. 

"""
# Imported libraries 
import boto3
import pandas as pd 
import numpy as np
from datetime import datetime, timedelta
import sqlite3

s3 = boto3.resource('s3')

client = boto3.client('s3')

aws_access_key = "AKIAXYJUIRVOL5AAJBOC"
aws_secret_access_key = "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"

client.download_file('us-equity-master-sec-file', 'equity_security_master.csv',
                     (r'C:\Users\clj585\OneDrive - Northwestern University\data_feeds'+
                      r'\algoseek\Data\equity_security_master.csv'), 
                     ExtraArgs={'RequestPayer': 'requester'})

In [43]:
"""

After SW3 Amazon bucket download, read in the CSV file from download
path. 

"""

dwnld_pth = (r'C:\Users\clj585\OneDrive - Northwestern University\data_feeds'+
                      r'\algoseek\Data\equity_security_master.csv')
blah = pd.read_csv(dwnld_pth)
blah


"""
Changes that need to happen: (UNDER CONSTRUCTION!!! 
DON'T KNOW WHAT OTHER STUFF WE'RE INTERESTED IN AT THIS POINT IN TIME)

1. ISIN pull in to hcusip and hcusip 9
2. Tickers process into "."
3. Figure out what this "w" is after each share? Like VMWare 
4. Stupid double or multiple records in each row potentially...
5. Columns to keep (too many?)
6. Split apart the dates by colon (start and end dates in separate columns)
7. ... (TBD - like another column to explode or not)

"""

'\nChanges that need to happen: (UNDER CONSTRUCTION!!! \nDON\'T KNOW WHAT OTHER STUFF WE\'RE INTERESTED IN AT THIS POINT IN TIME)\n\n1. ISIN pull in to hcusip and hcusip 9\n2. Tickers process into "."\n3. Figure out what this "w" is after each share? Like VMWare \n4. Stupid double or multiple records in each row potentially...\n5. Columns to keep (too many?)\n6. Split apart the dates by colon (start and end dates in separate columns)\n7. ... (TBD - like another column to explode or not)\n\n'

In [44]:
"""
All columns that need exploding: 

1. Tickers
2. Ticker start and end date
3. ISIN
4. ISIN start and end date
5. Name
6. Name start and end date 
7. Figi? 

"""
# Most important pieces of info: the tuple (isin/cusip. ticker, name, figi)

list_exploded = []
cols_to_explode = ['Name', "NameStartToEndDate", "Tickers", "TickersStartToEndDate", "ISIN",
                  "ISINStartToEndDate", "FIGI"]

blah['ISIN'].fillna('', inplace=True)
blah['ISINStartToEndDate'].fillna('', inplace=True)
blah['FIGI'].fillna('', inplace=True)

for i in range(7):
    print(cols_to_explode[i])
    df_temp = pd.DataFrame(blah[cols_to_explode[i]].str.split(';').tolist(), index=blah.SecId).stack()
    df_temp = df_temp.reset_index([0, 'SecId'])
    df_temp.columns = ['SecId', cols_to_explode[i]]
    list_exploded.append(df_temp)

Name
NameStartToEndDate
Tickers
TickersStartToEndDate
ISIN
ISINStartToEndDate
FIGI

In [45]:
"""
Just paste 2 related tables together

""" 

join1 = pd.concat([list_exploded[0].reset_index(drop=True), 
                   list_exploded[1]['NameStartToEndDate']], axis=1)
join2 = pd.concat([list_exploded[2].reset_index(drop=True), 
                   list_exploded[3]['TickersStartToEndDate']], axis=1)
join3 = pd.concat([list_exploded[4].reset_index(drop=True), 
                   list_exploded[5]['ISINStartToEndDate']], axis=1)
join1

            SecId                             Name NameStartToEndDate
0            2234         Sun Life Financial, Inc.  20070103:29991231
1            9470                         ASE Test  20070103:20080530
2           10729           Progen Industries Ltd.  20070103:20070328
3           10729  Progen Pharmaceuticals Limited.  20070329:20090306
4           10729   Avexa Pharmaceuticals Limited.  20090309:20090309
...           ...                              ...                ...
31158  1000422074  Armstrong World Industries Inc.  20160317:20160401
31159  1000640750                      Vmware Inc.  20211028:20211101
31160  1001106115       Interval Leisure Group Inc  20160411:20160512
31161  1004513431                      WestRock Co  20160502:20160513
31162  1004597098                     Ferrari N.V.  20160104:20160107

[31163 rows x 3 columns]

In [46]:
"""
Last series of SQL joins to create this massive table 

""" 

con = sqlite3.connect("algo.db")

join1.to_sql("join1", con, index=False, if_exists='replace')
join2.to_sql("join2", con, index=False, if_exists='replace')
join3.to_sql("join3", con, index=False, if_exists='replace')
list_exploded[6].to_sql("join4", con, index=False, if_exists="replace")

sql1 = """SELECT a.*, b.Tickers, b.TickersStartToEndDate
from join1 as a, join2 as b 
where (a.SecId = B.SecId);"""

sql2 = """SELECT a.*, b.ISIN, b.ISINStartToEndDate
from tab1 as a, join3 as b 
where (a.SecId = B.SecId);"""

sql3 = """SELECT a.*, b.FIGI
from tab2 as a, join4 as b 
where (a.SecId = B.SecId);"""

tab1 = pd.read_sql_query(sql1, con)
tab1.to_sql("tab1", con, index=False, if_exists='replace')
tab2 = pd.read_sql_query(sql2, con)
tab2.to_sql("tab2", con, index=False, if_exists='replace')
tab3 = pd.read_sql_query(sql3, con)

final = tab3.drop_duplicates()
final

,SecId,Name,NameStartToEndDate,Tickers,TickersStartToEndDate,ISIN,ISINStartToEndDate,FIGI
0,2234,"Sun Life Financial, Inc.",20070103:29991231,SLF,20070103:29991231,CA8667961053,20070103:29991231,BBG000LRMSB8
1,9470,ASE Test,20070103:20080530,ASTSF,20070103:20080530,SG9999000145,20070103:20080530,BBG000GV83F2
2,10729,Progen Industries Ltd.,20070103:20070328,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4
3,10729,Progen Pharmaceuticals Limited.,20070329:20090306,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4
4,10729,Avexa Pharmaceuticals Limited.,20090309:20090309,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4
...,...,...,...,...,...,...,...,...
124023,1000422074,Armstrong World Industries Inc.,20160317:20160401,AWIw,20160317:20160401,,,
124024,1000640750,Vmware Inc.,20211028:20211101,VMWw,20211028:20211101,,,
124025,1001106115,Interval Leisure Group Inc,20160411:20160512,IILGV,20160411:20160512,,,
124026,1004513431,WestRock Co,20160502:20160513,WRKw,20160502:20160513,,,
124027,1004597098,Ferrari N.V.,20160104:20160107,RACEw,20160104:20160107,,,

In [47]:
"""
Now have to pull apart each date column! The ISIN, Name and Tickers stuff. 

Also create tickers and cusips columns here too 

"""

final[["name_sdate", "name_edate"]] = final['NameStartToEndDate'].str.split('[ /:]', 
                                                                            n=1, expand=True)
final[["hticker_sdate", "hticker_edate"]] = final['TickersStartToEndDate'].str.split('[ /:]', 
                                                                                     n=1, expand=True)
final[["hcusip_sdate", "hcusip_edate"]] = final['ISINStartToEndDate'].str.split('[ /:]', 
                                                                                n=1, expand=True)

final[["root", "suffix"]] = final['Tickers'].str.split('[ /.]', n=1, expand=True)
final['suffix'].fillna('', inplace=True)

final['hcusip'] = final['ISIN'].str[2:10]
final['hcusip9'] = final['ISIN'].str[2:11]

final

C:\Users\clj585\Anaconda3\lib\site-packages\pandas\core\frame.py:3636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\clj585\Anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
C:\Users\clj585\AppData\Local\Temp/ipykernel_5868/456166182.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['hcusip'] = final['ISIN'].str[2:10]
C:\Users\clj585\AppData\Local\Temp/ipykernel_5868/456166182.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['hcusip9'] = final['ISIN'].str[2:11]

,SecId,Name,NameStartToEndDate,Tickers,TickersStartToEndDate,ISIN,ISINStartToEndDate,FIGI,name_sdate,name_edate,hticker_sdate,hticker_edate,hcusip_sdate,hcusip_edate,root,suffix,hcusip,hcusip9
0,2234,"Sun Life Financial, Inc.",20070103:29991231,SLF,20070103:29991231,CA8667961053,20070103:29991231,BBG000LRMSB8,20070103,29991231,20070103,29991231,20070103,29991231,SLF,,86679610,866796105
1,9470,ASE Test,20070103:20080530,ASTSF,20070103:20080530,SG9999000145,20070103:20080530,BBG000GV83F2,20070103,20080530,20070103,20080530,20070103,20080530,ASTSF,,99990001,999900014
2,10729,Progen Industries Ltd.,20070103:20070328,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4,20070103,20070328,20070103,20100701,20070103,20100701,PGLA,,000000PG,000000PGL
3,10729,Progen Pharmaceuticals Limited.,20070329:20090306,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4,20070329,20090306,20070103,20100701,20070103,20100701,PGLA,,000000PG,000000PGL
4,10729,Avexa Pharmaceuticals Limited.,20090309:20090309,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4,20090309,20090309,20070103,20100701,20070103,20100701,PGLA,,000000PG,000000PGL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124023,1000422074,Armstrong World Industries Inc.,20160317:20160401,AWIw,20160317:20160401,,,,20160317,20160401,20160317,20160401,,None,AWIw,,,
124024,1000640750,Vmware Inc.,20211028:20211101,VMWw,20211028:20211101,,,,20211028,20211101,20211028,20211101,,None,VMWw,,,
124025,1001106115,Interval Leisure Group Inc,20160411:20160512,IILGV,20160411:20160512,,,,20160411,20160512,20160411,20160512,,None,IILGV,,,
124026,1004513431,WestRock Co,20160502:20160513,WRKw,20160502:20160513,,,,20160502,20160513,20160502,20160513,,None,WRKw,,,
124027,1004597098,Ferrari N.V.,20160104:20160107,RACEw,20160104:20160107,,,,20160104,20160107,20160104,20160107,,None,RACEw,,,

In [48]:
"""

Datetimes that need to be fixed in certain columns. 

"""

# Gotta manually do this - this is because running pd.Timestamp.max returns something earlier than 2999 
final = final.replace({'29991231': '22620411'}, regex=True)

cols_to_datetime = ["name_sdate", "name_edate", "hticker_sdate", "hticker_edate",
                    "hcusip_sdate","hcusip_edate"]

for i in range(len(cols_to_datetime)):
    col = cols_to_datetime[i]
    final[col] = pd.to_datetime(final[col])
    
final

,SecId,Name,NameStartToEndDate,Tickers,TickersStartToEndDate,ISIN,ISINStartToEndDate,FIGI,name_sdate,name_edate,hticker_sdate,hticker_edate,hcusip_sdate,hcusip_edate,root,suffix,hcusip,hcusip9
0,2234,"Sun Life Financial, Inc.",20070103:22620411,SLF,20070103:22620411,CA8667961053,20070103:22620411,BBG000LRMSB8,2007-01-03,2262-04-11,2007-01-03,2262-04-11,2007-01-03,2262-04-11,SLF,,86679610,866796105
1,9470,ASE Test,20070103:20080530,ASTSF,20070103:20080530,SG9999000145,20070103:20080530,BBG000GV83F2,2007-01-03,2008-05-30,2007-01-03,2008-05-30,2007-01-03,2008-05-30,ASTSF,,99990001,999900014
2,10729,Progen Industries Ltd.,20070103:20070328,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4,2007-01-03,2007-03-28,2007-01-03,2010-07-01,2007-01-03,2010-07-01,PGLA,,000000PG,000000PGL
3,10729,Progen Pharmaceuticals Limited.,20070329:20090306,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4,2007-03-29,2009-03-06,2007-01-03,2010-07-01,2007-01-03,2010-07-01,PGLA,,000000PG,000000PGL
4,10729,Avexa Pharmaceuticals Limited.,20090309:20090309,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4,2009-03-09,2009-03-09,2007-01-03,2010-07-01,2007-01-03,2010-07-01,PGLA,,000000PG,000000PGL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124023,1000422074,Armstrong World Industries Inc.,20160317:20160401,AWIw,20160317:20160401,,,,2016-03-17,2016-04-01,2016-03-17,2016-04-01,NaT,NaT,AWIw,,,
124024,1000640750,Vmware Inc.,20211028:20211101,VMWw,20211028:20211101,,,,2021-10-28,2021-11-01,2021-10-28,2021-11-01,NaT,NaT,VMWw,,,
124025,1001106115,Interval Leisure Group Inc,20160411:20160512,IILGV,20160411:20160512,,,,2016-04-11,2016-05-12,2016-04-11,2016-05-12,NaT,NaT,IILGV,,,
124026,1004513431,WestRock Co,20160502:20160513,WRKw,20160502:20160513,,,,2016-05-02,2016-05-13,2016-05-02,2016-05-13,NaT,NaT,WRKw,,,
124027,1004597098,Ferrari N.V.,20160104:20160107,RACEw,20160104:20160107,,,,2016-01-04,2016-01-07,2016-01-04,2016-01-07,NaT,NaT,RACEw,,,

In [50]:
"""

After rename and dropping certain columns, save table called "final" and 
export out as parquet. 

"""

final = final.rename(columns={'Tickers' : "hticker", "Name" : "name", "SecId" : "alg_id", 
             "ISIN" : "isin", "FIGI": "figi"})
final.columns

# Save these columns
final = final[['alg_id', 'name', 'hticker', 'isin',  'figi',
       'name_sdate', 'name_edate', 'hticker_sdate', 'hticker_edate',
       'hcusip_sdate', 'hcusip_edate', 'root', 'suffix', 'hcusip', 'hcusip9']]

# Path names 
onedrive = "C://Users/clj585/OneDrive - Northwestern University/data_feeds/"
outpth = "algoseek/Data/equity_sec_master.parquet"

final.to_parquet(onedrive+outpth)

In [51]:
final.columns

Index(['alg_id', 'name', 'hticker', 'isin', 'figi', 'name_sdate', 'name_edate',
       'hticker_sdate', 'hticker_edate', 'hcusip_sdate', 'hcusip_edate',
       'root', 'suffix', 'hcusip', 'hcusip9'],
      dtype='object')

In [52]:
"""
Testing 

"""
print(final[final['hticker']=="BRK.A"])
print(final[final['hticker']=="AA"])
print(final[final['hticker']=="HWM"])
print(final[final['hticker']=="HNZ"])
print(final[final['hticker']=="KHC"])
print(final[final['hticker']=="COG"])
print(final[final['hticker']=="CTRA"])

      alg_id                     name hticker          isin          figi  \
3975   33991  Berkshire Hathaway Inc.   BRK.A  US0846701086  BBG000DWCFL4

     name_sdate name_edate hticker_sdate hticker_edate hcusip_sdate  \
3975 2007-01-03 2262-04-11    2007-01-03    2262-04-11   2007-01-03

     hcusip_edate root suffix    hcusip    hcusip9
3975   2262-04-11  BRK      A  08467010  084670108
         alg_id                  name hticker          isin          figi  \
1690      33008            Alcoa Inc.      AA  US0138171014  BBG000B9WH86
1692      33008            Alcoa Inc.      AA  US0138171014  BBG00DYNJGH9
1694      33008            Alcoa Inc.      AA  US0138175072  BBG000B9WH86
1696      33008            Alcoa Inc.      AA  US0138175072  BBG00DYNJGH9
1698      33008            Alcoa Inc.      AA  US03965L1008  BBG000B9WH86
1700      33008            Alcoa Inc.      AA  US03965L1008  BBG00DYNJGH9
1702      33008            Alcoa Inc.      AA  US4432011082  BBG000B9WH86
1704      33008            Alcoa Inc.      AA  US4432011082  BBG00DYNJGH9
1738      33008           Arconic Inc      AA  US0138171014  BBG000B9WH86
1740      33008           Arconic Inc      AA  US0138171014  BBG00DYNJGH9
1742      33008           Arconic Inc      AA  US0138175072  BBG000B9WH86
1744      33008           Arconic Inc      AA  US0138175072  BBG00DYNJGH9
1746      33008           Arconic Inc      AA  US03965L1008  BBG000B9WH86
1748      33008           Arconic Inc      AA  US03965L1008  BBG00DYNJGH9
1750      33008           Arconic Inc      AA  US4432011082  BBG000B9WH86
1752      33008           Arconic Inc      AA  US4432011082  BBG00DYNJGH9
1786      33008  Howmet Aerospace Inc      AA  US0138171014  BBG000B9WH86
1788      33008  Howmet Aerospace Inc      AA  US0138171014  BBG00DYNJGH9
1790      33008  Howmet Aerospace Inc      AA  US0138175072  BBG000B9WH86
1792      33008  Howmet Aerospace Inc      AA  US0138175072  BBG00DYNJGH9
1794      33008  Howmet Aerospace Inc      AA  US03965L1008  BBG000B9WH86
1796      33008  Howmet Aerospace Inc      AA  US03965L1008  BBG00DYNJGH9
1798      33008  Howmet Aerospace Inc      AA  US4432011082  BBG000B9WH86
1800      33008  Howmet Aerospace Inc      AA  US4432011082  BBG00DYNJGH9
103354  4920498            Alcoa Corp      AA  US0138721065  BBG00B3T3HD3

       name_sdate name_edate hticker_sdate hticker_edate hcusip_sdate  \
1690   2007-01-03 2016-06-30    2007-01-03    2016-10-31   2007-01-03
1692   2007-01-03 2016-06-30    2007-01-03    2016-10-31   2007-01-03
1694   2007-01-03 2016-06-30    2007-01-03    2016-10-31   2016-10-06
1696   2007-01-03 2016-06-30    2007-01-03    2016-10-31   2016-10-06
1698   2007-01-03 2016-06-30    2007-01-03    2016-10-31   2016-11-01
1700   2007-01-03 2016-06-30    2007-01-03    2016-10-31   2016-11-01
1702   2007-01-03 2016-06-30    2007-01-03    2016-10-31   2020-04-01
1704   2007-01-03 2016-06-30    2007-01-03    2016-10-31   2020-04-01
1738   2016-07-01 2020-03-31    2007-01-03    2016-10-31   2007-01-03
1740   2016-07-01 2020-03-31    2007-01-03    2016-10-31   2007-01-03
1742   2016-07-01 2020-03-31    2007-01-03    2016-10-31   2016-10-06
1744   2016-07-01 2020-03-31    2007-01-03    2016-10-31   2016-10-06
1746   2016-07-01 2020-03-31    2007-01-03    2016-10-31   2016-11-01
1748   2016-07-01 2020-03-31    2007-01-03    2016-10-31   2016-11-01
1750   2016-07-01 2020-03-31    2007-01-03    2016-10-31   2020-04-01
1752   2016-07-01 2020-03-31    2007-01-03    2016-10-31   2020-04-01
1786   2020-04-01 2262-04-11    2007-01-03    2016-10-31   2007-01-03
1788   2020-04-01 2262-04-11    2007-01-03    2016-10-31   2007-01-03
1790   2020-04-01 2262-04-11    2007-01-03    2016-10-31   2016-10-06
1792   2020-04-01 2262-04-11    2007-01-03    2016-10-31   2016-10-06
1794   2020-04-01 2262-04-11    2007-01-03    2016-10-31   2016-11-01
1796   2020-04-01 2262-04-11    2007-01-03    2016-10-31   2016-11-01
1798   2020-04-01 2262-04-11    2007-01-03    2016-10-31   2020-04-01
1800   2020-04-01 2262-04-11    2007-01-03    2016-10-31   2020-04-01
103354 2016-10-18 2262-04-11    2016-11-01    2262-04-11   2016-10-18

       hcusip_edate root suffix    hcusip    hcusip9
1690     2016-10-05   AA         01381710  013817101
1692     2016-10-05   AA         01381710  013817101
1694     2016-10-31   AA         01381750  013817507
1696     2016-10-31   AA         01381750  013817507
1698     2020-03-31   AA         03965L10  03965L100
1700     2020-03-31   AA         03965L10  03965L100
1702     2262-04-11   AA         44320110  443201108
1704     2262-04-11   AA         44320110  443201108
1738     2016-10-05   AA         01381710  013817101
1740     2016-10-05   AA         01381710  013817101
1742     2016-10-31   AA         01381750  013817507
1744     2016-10-31   AA         01381750  013817507
1746     2020-03-31   AA         03965L10  03965L100
1748     2020-03-31   AA         03965L10  03965L100
1750     2262-04-11   AA         44320110  443201108
1752     2262-04-11   AA         44320110  443201108
1786     2016-10-05   AA         01381710  013817101
1788     2016-10-05   AA         01381710  013817101
1790     2016-10-31   AA         01381750  013817507
1792     2016-10-31   AA         01381750  013817507
1794     2020-03-31   AA         03965L10  03965L100
1796     2020-03-31   AA         03965L10  03965L100
1798     2262-04-11   AA         44320110  443201108
1800     2262-04-11   AA         44320110  443201108
103354   2262-04-11   AA         01387210  013872106
      alg_id                  name hticker          isin          figi  \
1722   33008            Alcoa Inc.     HWM  US0138171014  BBG000B9WH86
1724   33008            Alcoa Inc.     HWM  US0138171014  BBG00DYNJGH9
1726   33008            Alcoa Inc.     HWM  US0138175072  BBG000B9WH86
1728   33008            Alcoa Inc.     HWM  US0138175072  BBG00DYNJGH9
1730   33008            Alcoa Inc.     HWM  US03965L1008  BBG000B9WH86
1732   33008            Alcoa Inc.     HWM  US03965L1008  BBG00DYNJGH9
1734   33008            Alcoa Inc.     HWM  US4432011082  BBG000B9WH86
1736   33008            Alcoa Inc.     HWM  US4432011082  BBG00DYNJGH9
1770   33008           Arconic Inc     HWM  US0138171014  BBG000B9WH86
1772   33008           Arconic Inc     HWM  US0138171014  BBG00DYNJGH9
1774   33008           Arconic Inc     HWM  US0138175072  BBG000B9WH86
1776   33008           Arconic Inc     HWM  US0138175072  BBG00DYNJGH9
1778   33008           Arconic Inc     HWM  US03965L1008  BBG000B9WH86
1780   33008           Arconic Inc     HWM  US03965L1008  BBG00DYNJGH9
1782   33008           Arconic Inc     HWM  US4432011082  BBG000B9WH86
1784   33008           Arconic Inc     HWM  US4432011082  BBG00DYNJGH9
1818   33008  Howmet Aerospace Inc     HWM  US0138171014  BBG000B9WH86
1820   33008  Howmet Aerospace Inc     HWM  US0138171014  BBG00DYNJGH9
1822   33008  Howmet Aerospace Inc     HWM  US0138175072  BBG000B9WH86
1824   33008  Howmet Aerospace Inc     HWM  US0138175072  BBG00DYNJGH9
1826   33008  Howmet Aerospace Inc     HWM  US03965L1008  BBG000B9WH86
1828   33008  Howmet Aerospace Inc     HWM  US03965L1008  BBG00DYNJGH9
1830   33008  Howmet Aerospace Inc     HWM  US4432011082  BBG000B9WH86
1832   33008  Howmet Aerospace Inc     HWM  US4432011082  BBG00DYNJGH9

     name_sdate name_edate hticker_sdate hticker_edate hcusip_sdate  \
1722 2007-01-03 2016-06-30    2020-04-01    2262-04-11   2007-01-03
1724 2007-01-03 2016-06-30    2020-04-01    2262-04-11   2007-01-03
1726 2007-01-03 2016-06-30    2020-04-01    2262-04-11   2016-10-06
1728 2007-01-03 2016-06-30    2020-04-01    2262-04-11   2016-10-06
1730 2007-01-03 2016-06-30    2020-04-01    2262-04-11   2016-11-01
1732 2007-01-03 2016-06-30    2020-04-01    2262-04-11   2016-11-01
1734 2007-01-03 2016-06-30    2020-04-01    2262-04-11   2020-04-01
1736 2007-01-03 2016-06-30    2020-04-01    2262-04-11   2020-04-01
1770 2016-07-01 2020-03-31    2020-04-01    2262-04-11   2007-01-03
1772 2016-07-01 2020-03-31    2020-04-01    2262-04-11   2007-01-03
1774 2016-07-01 2020-03-31    2020-04-01    2262-04-11   2016-10-06
1776 2016-07-01 2020-03-31    2020-04-01    2262-04-11   2016-10-06
1778 2016-07-01 2020-03-31    2020-04-01    2262-04-11   2016-11-01
1780 2016-07-01 2020-03-31    2020-04-01    2262-04-11   2016-11-01
1782 2016-07-01 2020-03-31    2020-04-01    2262-04-11   2020-04-01
1784 2016-07-01 2020-03-31    2020-04-01    2262-04-11   2020-04-01
1818 2020-04-01 2262-04-11    2020-04-01    2262-04-11   2007-01-03
1820 2020-04-01 2262-04-11    2020-04-01    2262-04-11   2007-01-03
1822 2020-04-01 2262-04-11    2020-04-01    2262-04-11   2016-10-06
1824 2020-04-01 2262-04-11    2020-04-01    2262-04-11   2016-10-06
1826 2020-04-01 2262-04-11    2020-04-01    2262-04-11   2016-11-01
1828 2020-04-01 2262-04-11    2020-04-01    2262-04-11   2016-11-01
1830 2020-04-01 2262-04-11    2020-04-01    2262-04-11   2020-04-01
1832 2020-04-01 2262-04-11    2020-04-01    2262-04-11   2020-04-01

     hcusip_edate root suffix    hcusip    hcusip9
1722   2016-10-05  HWM         01381710  013817101
1724   2016-10-05  HWM         01381710  013817101
1726   2016-10-31  HWM         01381750  013817507
1728   2016-10-31  HWM         01381750  013817507
1730   2020-03-31  HWM         03965L10  03965L100
1732   2020-03-31  HWM         03965L10  03965L100
1734   2262-04-11  HWM         44320110  443201108
1736   2262-04-11  HWM         44320110  443201108
1770   2016-10-05  HWM         01381710  013817101
1772   2016-10-05  HWM         01381710  013817101
1774   2016-10-31  HWM         01381750  013817507
1776   2016-10-31  HWM         01381750  013817507
1778   2020-03-31  HWM         03965L10  03965L100
1780   2020-03-31  HWM         03965L10  03965L100
1782   2262-04-11  HWM         44320110  443201108
1784   2262-04-11  HWM         44320110  443201108
1818   2016-10-05  HWM         01381710  013817101
1820   2016-10-05  HWM         01381710  013817101
1822   2016-10-31  HWM         01381750  013817507
1824   2016-10-31  HWM         01381750  013817507
1826   2020-03-31  HWM         03965L10  03965L100
1828   2020-03-31  HWM         03965L10  03965L100
1830   2262-04-11  HWM         44320110  443201108
1832   2262-04-11  HWM         44320110  443201108
       alg_id            name hticker          isin          figi name_sdate  \
12961   37648  H.J. Heinz Co.     HNZ  US4230741039  BBG000BL9439 2007-01-03

      name_edate hticker_sdate hticker_edate hcusip_sdate hcusip_edate root  \
12961 2013-06-07    2007-01-03    2013-06-07   2007-01-03   2013-06-07  HNZ

      suffix    hcusip    hcusip9
12961         42307410  423074103
        alg_id            name hticker          isin          figi name_sdate  \
99830  4547337  Kraft Heinz Co     KHC  US5007541064  BBG005CPNTQ2 2015-07-06

      name_edate hticker_sdate hticker_edate hcusip_sdate hcusip_edate root  \
99830 2262-04-11    2015-07-06    2262-04-11   2015-07-06   2262-04-11  KHC

      suffix    hcusip    hcusip9
99830         50075410  500754106
       alg_id                   name hticker          isin          figi  \
38064   80653  Cabot Oil & Gas Corp.     COG  US1270971039  BBG000C3GN47
38066   80653     Coterra Energy Inc     COG  US1270971039  BBG000C3GN47

      name_sdate name_edate hticker_sdate hticker_edate hcusip_sdate  \
38064 2007-01-03 2021-10-01    2007-01-03    2021-10-01   2007-01-03
38066 2021-10-04 2262-04-11    2007-01-03    2021-10-01   2007-01-03

      hcusip_edate root suffix    hcusip    hcusip9
38064   2262-04-11  COG         12709710  127097103
38066   2262-04-11  COG         12709710  127097103
         alg_id                               name hticker          isin  \
38065     80653              Cabot Oil & Gas Corp.    CTRA  US1270971039
38067     80653                 Coterra Energy Inc    CTRA  US1270971039
103072  4869969                Contura Energy Inc.    CTRA  US0207641061
103074  4869969                Contura Energy Inc.    CTRA  US21241B1008
103080  4869969  Alpha Metallurgical Resources Inc    CTRA  US0207641061
103082  4869969  Alpha Metallurgical Resources Inc    CTRA  US21241B1008

                figi name_sdate name_edate hticker_sdate hticker_edate  \
38065   BBG000C3GN47 2007-01-03 2021-10-01    2021-10-04    2262-04-11
38067   BBG000C3GN47 2021-10-04 2262-04-11    2021-10-04    2262-04-11
103072  BBG00DGWV035 2018-11-09 2021-01-29    2018-11-09    2021-02-03
103074  BBG00DGWV035 2018-11-09 2021-01-29    2018-11-09    2021-02-03
103080  BBG00DGWV035 2021-02-01 2262-04-11    2018-11-09    2021-02-03
103082  BBG00DGWV035 2021-02-01 2262-04-11    2018-11-09    2021-02-03

       hcusip_sdate hcusip_edate  root suffix    hcusip    hcusip9
38065    2007-01-03   2262-04-11  CTRA         12709710  127097103
38067    2007-01-03   2262-04-11  CTRA         12709710  127097103
103072   2021-02-01   2262-04-11  CTRA         02076410  020764106
103074   2018-11-09   2021-01-29  CTRA         21241B10  21241B100
103080   2021-02-01   2262-04-11  CTRA         02076410  020764106
103082   2018-11-09   2021-01-29  CTRA         21241B10  21241B100

In [21]:
"""

TRASH CODE

DO NOT RUN BELOW THIS LINE!!!!!!!!!!! 

"""

# Confirm this is point in time 
blah[blah['Tickers']=="HNZ"]

,SecId,Tickers,TickersStartToEndDate,Name,NameStartToEndDate,ISIN,ISINStartToEndDate,ListStatus,SecurityDescription,USIdentifier,USIdentifierStartToEndDate,PrimaryExchange,PrimaryExchangeStartToEndDate,SEDOL,Sic,Sector,Industry,FIGI
1715,37648,HNZ,20070103:20130607,H.J. Heinz Co.,20070103:20130607,US4230741039,20070103:20130607,D,Equity Shares,423074103,20070103:20130607,NYSE,20070103:20130607,2419240,2030.0,Manufacturing,"Canned, Frozen & Preserved Fruit, Veg & Food S...",BBG000BL9439

In [22]:
blah[blah['Tickers']=="KHC"]

,SecId,Tickers,TickersStartToEndDate,Name,NameStartToEndDate,ISIN,ISINStartToEndDate,ListStatus,SecurityDescription,USIdentifier,USIdentifierStartToEndDate,PrimaryExchange,PrimaryExchangeStartToEndDate,SEDOL,Sic,Sector,Industry,FIGI
14522,4547337,KHC,20150706:29991231,Kraft Heinz Co,20150706:29991231,US5007541064,20150706:29991231,L,Equity Shares,500754106,20150706:29991231,NASDAQ,20150706:29991231,BYRY499,2030.0,Manufacturing,"Canned, Frozen & Preserved Fruit, Veg & Food S...",BBG005CPNTQ2

In [23]:
blah[blah['Tickers']=="BRK.A"]

,SecId,Tickers,TickersStartToEndDate,Name,NameStartToEndDate,ISIN,ISINStartToEndDate,ListStatus,SecurityDescription,USIdentifier,USIdentifierStartToEndDate,PrimaryExchange,PrimaryExchangeStartToEndDate,SEDOL,Sic,Sector,Industry,FIGI
542,33991,BRK.A,20070103:29991231,Berkshire Hathaway Inc.,20070103:29991231,US0846701086,20070103:29991231,L,Equity Shares,084670108,20070103:29991231,NYSE,20070103:29991231,2093666,6331.0,Finance Insurance And Real Estate,Fire Marine & Casualty Insurance,BBG000DWCFL4

In [24]:
blah[blah['Tickers'].str.contains("p")]

,SecId,Tickers,TickersStartToEndDate,Name,NameStartToEndDate,ISIN,ISINStartToEndDate,ListStatus,SecurityDescription,USIdentifier,USIdentifierStartToEndDate,PrimaryExchange,PrimaryExchangeStartToEndDate,SEDOL,Sic,Sector,Industry,FIGI
4302,65476,TCAp,20070103:20070709,Transcanada Pipelines Ltd.,20070103:20070709,CA8935267234,20070103:20070709,D,Equity Shares,893526723,20070103:20070709,NYSE,20070103:20070709,NaN,NaN,NaN,NaN,BBG0001JGTT4
4312,66829,CMOpB,20070103:20130513,Capstead Mortgage Corp. Preference Shares - Se...,20070103:20070202;20070205:20130513,US14067E3080,20070103:20130513,D,Preference Share,14067E308,20070103:20130513,NYSE,20070103:20130513,NaN,NaN,NaN,NaN,BBG000005244
4313,66833,VNOpA,20070103:20130325,Vornado Realty Trust 6.50% PRF PERPETUAL USD 5...,20070103:20130325,US9290422081,20070103:20130325,D,Preference Share,929042208,20070103:20130325,NYSE,20070103:20130325,NaN,NaN,NaN,NaN,BBG0000061K7
4343,68656,RIOp;VALE.P,20070103:20090501;20090504:20171124,Companhia Vale Do Rio Doce;Vale S.A.,20070103:20090501;20090504:20171124,US2044121000;US91912E2046,20070103:20090527;20090528:20171124,D,Depository Receipts,204412100;91912E204,20070103:20090527;20090528:20171124,NYSE,20070103:20171124,2933900,1000.0,Mining,Metal Mining,BBG000BSJTB9;BBG000BSJTB9
4475,72041,WYEp,20070103:20090424,Wyeth Preference Shares 0%,20070103:20090424,,,D,Preference Share,NaN,NaN,NYSE,20070103:20090424,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23032,7294585,WBSpG,20220201:29991231,Webster Financial Corp. 6.50% PRF PERPETUAL US...,20220201:29991231,US9478907036,20220201:29991231,L,Preference Share,947890703,20220201:29991231,NYSE,20220201:29991231,NaN,6021.0,Finance Insurance And Real Estate,National Commercial Banks,BBG014YX2N98
23047,7297051,USBpS,20220216:29991231,U.S. Bancorp. 4.50% PRF PERPETUAL USD 25 - Ser O,20220216:29991231,US9029736686,20220216:29991231,L,Preference Share,902973668,20220216:29991231,NYSE,20220216:29991231,NaN,6021.0,Finance Insurance And Real Estate,National Commercial Banks,BBG0152QMGN2
23226,7367910,NXDTpA,20220303:29991231,NexPoint Diversified Real Estate Trust 5.50% P...,20220303:29991231,US65340G3048,20220303:29991231,L,Preference Share,65340G304,20220303:29991231,NYSE,20220303:29991231,NaN,NaN,NaN,NaN,BBG00YTR3XX2
23281,7386304,MTBpH,20220404:29991231,M & T Bank Corp FXDFR PRF PERPETUAL USD 25 - S...,20220404:29991231,US55261F8721,20220404:29991231,L,Preference Share,55261F872,20220404:29991231,NYSE,20220404:29991231,NaN,NaN,NaN,NaN,BBG016JM9621
23316,7398644,RIVpA,20220504:29991231,RiverNorth Opportunities Fund Inc 6% PRF PERPE...,20220504:29991231,US76881Y2081,20220504:29991231,L,Preference Share,76881Y208,20220504:29991231,NYSE,20220504:29991231,NaN,NaN,NaN,NaN,BBG016R12HB1

In [25]:
blah[blah['Name'].str.contains("Vmware", case=False)]

,SecId,Tickers,TickersStartToEndDate,Name,NameStartToEndDate,ISIN,ISINStartToEndDate,ListStatus,SecurityDescription,USIdentifier,USIdentifierStartToEndDate,PrimaryExchange,PrimaryExchangeStartToEndDate,SEDOL,Sic,Sector,Industry,FIGI
7878,640750,VMW,20070814:29991231,Vmware Inc.,20070814:29991231,US9285634021,20070814:29991231,L,Equity Shares,928563402,20070814:29991231,NYSE,20070814:29991231,B23SN61,7372.0,Services,Services-Prepackaged Software,BBG000BC9938
23418,1000640750,VMWw,20211028:20211101,Vmware Inc.,20211028:20211101,,,D,Equity Shares,NaN,NaN,NYSE,20211028:20211101,NaN,NaN,NaN,NaN,

In [26]:
# The double / multiple records shit...
blah[blah['Tickers'].str.contains(";")]

,SecId,Tickers,TickersStartToEndDate,Name,NameStartToEndDate,ISIN,ISINStartToEndDate,ListStatus,SecurityDescription,USIdentifier,USIdentifierStartToEndDate,PrimaryExchange,PrimaryExchangeStartToEndDate,SEDOL,Sic,Sector,Industry,FIGI
7,18679,ACE;CB,20070103:20160114;20160115:29991231,ACE Ltd.;Chubb Limited,20070103:20160114;20160115:29991231,KYG0070K1031;CH0044328745,20070103:20080715;20080716:29991231,L,Equity Shares,G0070K103;004432874,20070103:20080715;20080716:29991231,NYSE,20070103:29991231,B3BQMF6,6331.0,Finance Insurance And Real Estate,Fire Marine & Casualty Insurance,;BBG000BR14K5
16,21389,BOSC;BOSCD;BOSC,20070103:20100111;20100112:20100209;20100210:2...,B.O.S. Better Online Solutions,20070103:29991231,IL0010828171,20070103:29991231,L,Equity Shares,001082817,20070103:29991231,NASDAQ,20070103:29991231,2717289,3669.0,Manufacturing,Communications Equipment Nec,BBG000KVX9C9
23,21462,CTCH;CTCHD;CTCH;CYRN,20070103:20071231;20080102:20080129;20080130:2...,Commtouch Software;CYREN Ltd,20070103:20140221;20140224:29991231,IL0010832371,20070103:29991231,L,Equity Shares,001083237,20070103:29991231,NASDAQ,20070103:29991231,2437521,7372.0,Services,Prepackaged Software,BBG000D3NWB0
25,21475,BPHX;BPHXD;BPHX;MDSY,20070103:20111227;20111228:20120126;20120127:2...,"BluePhoenix Solutions, Ltd.;ModSys Internation...",20070103:20150122;20150123:20170502,IL0010824378,20070103:20170502,D,Equity Shares,001082437,20070103:20170502,NASDAQ,20070103:20170502,2204974,NaN,NaN,NaN,BBG000C4MMT3
41,21689,JCDA;JCDAD;JCDA,20070103:20101109;20101110:20101208;20101209:2...,Jacada,20070103:20121017,IL0010834500,20070103:20121017,D,Equity Shares,001083450,20070103:20121017,NASDAQ,20070103:20121017,NaN,7372.0,Services,Prepackaged Software,BBG000C31K94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23206,7358513,ESABw;ESAB,20220321:20220404;20220405:29991231,ESAB Corp,20220321:29991231,US29605J1060,20220321:29991231,L,Equity Shares,29605J106,20220321:29991231,NYSE,20220321:29991231,NaN,NaN,NaN,NaN,BBG0028ZMP45
23254,7380883,HIXrw;HIXr,20220406:20220408;20220411:20220505,Western Asset High Income Fund II Inc,20220406:20220505,US95766J1108,20220406:20220505,D,Tradeable Rights,95766J110,20220406:20220505,NYSE,20220406:20220505,NaN,NaN,NaN,NaN,BBG016GDSXB4
23283,7387953,DCPE;CAPE,20220405:20220524;20220525:29991231,DoubleLine Shiller CAPE U.S. Equities ETF,20220405:29991231,US25861R2040,20220405:29991231,L,Exchange Traded Fund,25861R204,20220405:29991231,ARCA,20220405:29991231,NaN,NaN,NaN,NaN,BBG016GD7CG8
23317,7399083,NHSrw;NHSr,20220414:20220420;20220421:20220516,Neuberger Berman High Yield Strategies Fund,20220414:20220516,US64128C1146,20220414:20220516,D,Tradeable Rights,64128C114,20220414:20220516,AMEX,20220414:20220516,NaN,NaN,NaN,NaN,BBG016P4Q4W7
23377,7427358,GLUrw;GLUr,20220510:20220516;20220517:29991231,Gabelli Global Utility & Income Trust.,20220510:29991231,US36242L1391,20220510:29991231,L,Tradeable Rights,36242L139,20220510:29991231,AMEX,20220510:29991231,NaN,NaN,NaN,NaN,BBG0175Y13Y8

In [27]:
blah.dtypes

SecId                              int64
Tickers                           object
TickersStartToEndDate             object
Name                              object
NameStartToEndDate                object
ISIN                              object
ISINStartToEndDate                object
ListStatus                        object
SecurityDescription               object
USIdentifier                      object
USIdentifierStartToEndDate        object
PrimaryExchange                   object
PrimaryExchangeStartToEndDate     object
SEDOL                             object
Sic                              float64
Sector                            object
Industry                          object
FIGI                              object
dtype: object

In [28]:
# Check for all columns with that stupid ;

#blah.apply(lambda row: row.astype(str).str.contains(';').any(), axis=1)
blah2 = blah
blah2[['SecId','Sic']] = blah2[['SecId','Sic']].astype("string")
mask = np.column_stack([blah2[col].str.contains(";", na=False) for col in blah2])
blah2.loc[mask.any(axis=1)]

,SecId,Tickers,TickersStartToEndDate,Name,NameStartToEndDate,ISIN,ISINStartToEndDate,ListStatus,SecurityDescription,USIdentifier,USIdentifierStartToEndDate,PrimaryExchange,PrimaryExchangeStartToEndDate,SEDOL,Sic,Sector,Industry,FIGI
2,10729,PGLA,20070103:20100701,Progen Industries Ltd.;Progen Pharmaceuticals ...,20070103:20070328;20070329:20090306;20090309:2...,AU000000PGL5,20070103:20100701,D,Equity Shares,000000PGL,20070103:20100701,NASDAQ,20070103:20100701,NaN,<NA>,NaN,NaN,BBG000TL5HV4
6,18665,TNP,20070103:29991231,Tsakos Energy Navigation Limited,20070103:29991231,BMG9108L1081;BMG9108L1735,20070103:20200630;20200701:29991231,L,Equity Shares,G9108L108;G9108L173,20070103:20200630;20200701:29991231,NYSE,20070103:29991231,2854829,4412.0,Transportation Communications Electric Gas And...,Deep Sea Foreign Transportation Of Freight,BBG000BRM155;BBG000BRM155
7,18679,ACE;CB,20070103:20160114;20160115:29991231,ACE Ltd.;Chubb Limited,20070103:20160114;20160115:29991231,KYG0070K1031;CH0044328745,20070103:20080715;20080716:29991231,L,Equity Shares,G0070K103;004432874,20070103:20080715;20080716:29991231,NYSE,20070103:29991231,B3BQMF6,6331.0,Finance Insurance And Real Estate,Fire Marine & Casualty Insurance,;BBG000BR14K5
12,21345,ELTK,20070103:29991231,Eltek.;Eltek Ltd,20070103:20190412;20190415:29991231,IL0010828411;ILM401842085;IL0010828411,20070103:20171121;20171122:20190412;20190415:2...,L,Equity Shares,001082841;M40184208;001082841,20070103:20171121;20171122:20190412;20190415:2...,NASDAQ,20070103:29991231,2530260,3672.0,Manufacturing,Printed Circuit Boards,BBG000KDCGQ1;;BBG000KDCGQ1
13,21349,AIP,20070103:20111221,American Israeli Paper Mills Ltd.;Hadera Paper...,20070103:20080704;20080707:20111221,IL0006320183,20070103:20111221,D,Equity Shares,000632018,20070103:20111221,AMEX,20070103:20111221,NaN,<NA>,NaN,NaN,BBG000BBGB82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23206,7358513,ESABw;ESAB,20220321:20220404;20220405:29991231,ESAB Corp,20220321:29991231,US29605J1060,20220321:29991231,L,Equity Shares,29605J106,20220321:29991231,NYSE,20220321:29991231,NaN,<NA>,NaN,NaN,BBG0028ZMP45
23254,7380883,HIXrw;HIXr,20220406:20220408;20220411:20220505,Western Asset High Income Fund II Inc,20220406:20220505,US95766J1108,20220406:20220505,D,Tradeable Rights,95766J110,20220406:20220505,NYSE,20220406:20220505,NaN,<NA>,NaN,NaN,BBG016GDSXB4
23283,7387953,DCPE;CAPE,20220405:20220524;20220525:29991231,DoubleLine Shiller CAPE U.S. Equities ETF,20220405:29991231,US25861R2040,20220405:29991231,L,Exchange Traded Fund,25861R204,20220405:29991231,ARCA,20220405:29991231,NaN,<NA>,NaN,NaN,BBG016GD7CG8
23317,7399083,NHSrw;NHSr,20220414:20220420;20220421:20220516,Neuberger Berman High Yield Strategies Fund,20220414:20220516,US64128C1146,20220414:20220516,D,Tradeable Rights,64128C114,20220414:20220516,AMEX,20220414:20220516,NaN,<NA>,NaN,NaN,BBG016P4Q4W7
23377,7427358,GLUrw;GLUr,20220510:20220516;20220517:29991231,Gabelli Global Utility & Income Trust.,20220510:29991231,US36242L1391,20220510:29991231,L,Tradeable Rights,36242L139,20220510:29991231,AMEX,20220510:29991231,NaN,<NA>,NaN,NaN,BBG0175Y13Y8

In [29]:
# Explode/Split column into multiple rows

# Example code! 
"""
new_df = pd.DataFrame(df.City.str.split('|').tolist(), index=df.EmployeeId).stack()
new_df = new_df.reset_index([0, 'EmployeeId'])
new_df.columns = ['EmployeeId', 'City']
"""

"\nnew_df = pd.DataFrame(df.City.str.split('|').tolist(), index=df.EmployeeId).stack()\nnew_df = new_df.reset_index([0, 'EmployeeId'])\nnew_df.columns = ['EmployeeId', 'City']\n"

In [30]:
"""
All columns that need exploding: 

1. Tickers
2. Ticker start and end date
3. ISIN
4. Isin start and end date
5. Name
6. Name start and end date 
7. Figi? 

"""
# Most important pieces of info: the tuple (isin/cusip. ticker, name, figi)

list_exploded = []
cols_to_explode = ['Name', "NameStartToEndDate", "Tickers", "TickersStartToEndDate", "ISIN",
                  "ISINStartToEndDate", "FIGI"]

blah['ISIN'].fillna('', inplace=True)
blah['ISINStartToEndDate'].fillna('', inplace=True)
blah['FIGI'].fillna('', inplace=True)

for i in range(7):
    print(cols_to_explode[i])
    df_temp = pd.DataFrame(blah[cols_to_explode[i]].str.split(';').tolist(), index=blah.SecId).stack()
    df_temp = df_temp.reset_index([0, 'SecId'])
    df_temp.columns = ['SecId', cols_to_explode[i]]
    list_exploded.append(df_temp)

Name
NameStartToEndDate
Tickers
TickersStartToEndDate
ISIN
ISINStartToEndDate
FIGI

In [31]:
"""
Just paste 2 related tables together

""" 

join1 = pd.concat([list_exploded[0].reset_index(drop=True), 
                   list_exploded[1]['NameStartToEndDate']], axis=1)
join2 = pd.concat([list_exploded[2].reset_index(drop=True), 
                   list_exploded[3]['TickersStartToEndDate']], axis=1)
join3 = pd.concat([list_exploded[4].reset_index(drop=True), 
                   list_exploded[5]['ISINStartToEndDate']], axis=1)
join1

            SecId                             Name NameStartToEndDate
0            2234         Sun Life Financial, Inc.  20070103:29991231
1            9470                         ASE Test  20070103:20080530
2           10729           Progen Industries Ltd.  20070103:20070328
3           10729  Progen Pharmaceuticals Limited.  20070329:20090306
4           10729   Avexa Pharmaceuticals Limited.  20090309:20090309
...           ...                              ...                ...
31158  1000422074  Armstrong World Industries Inc.  20160317:20160401
31159  1000640750                      Vmware Inc.  20211028:20211101
31160  1001106115       Interval Leisure Group Inc  20160411:20160512
31161  1004513431                      WestRock Co  20160502:20160513
31162  1004597098                     Ferrari N.V.  20160104:20160107

[31163 rows x 3 columns]

In [32]:
join2

            SecId Tickers TickersStartToEndDate
0            2234     SLF     20070103:29991231
1            9470   ASTSF     20070103:20080530
2           10729    PGLA     20070103:20100701
3           11019    CTTY     20070103:20070824
4           11895     SFM     20070103:20080522
...           ...     ...                   ...
26968  1000422074    AWIw     20160317:20160401
26969  1000640750    VMWw     20211028:20211101
26970  1001106115   IILGV     20160411:20160512
26971  1004513431    WRKw     20160502:20160513
26972  1004597098   RACEw     20160104:20160107

[26973 rows x 3 columns]

In [33]:
join3

            SecId          ISIN ISINStartToEndDate
0            2234  CA8667961053  20070103:29991231
1            9470  SG9999000145  20070103:20080530
2           10729  AU000000PGL5  20070103:20100701
3           11019  US1494812027  20070103:20070824
4           11895  NO0003073108  20070103:20080522
...           ...           ...                ...
28261  1000422074
28262  1000640750
28263  1001106115
28264  1004513431
28265  1004597098

[28266 rows x 3 columns]

In [34]:
list_exploded[6]

            SecId          FIGI
0            2234  BBG000LRMSB8
1            9470  BBG000GV83F2
2           10729  BBG000TL5HV4
3           11019  BBG000D73SZ6
4           11895  BBG002GXG2R4
...           ...           ...
28261  1000422074
28262  1000640750
28263  1001106115
28264  1004513431
28265  1004597098

[28266 rows x 2 columns]

In [35]:
"""
Last series of SQL joins to create this massive table 

""" 

con = sqlite3.connect("algo.db")

join1.to_sql("join1", con, index=False, if_exists='replace')
join2.to_sql("join2", con, index=False, if_exists='replace')
join3.to_sql("join3", con, index=False, if_exists='replace')
list_exploded[6].to_sql("join4", con, index=False, if_exists="replace")

sql1 = """SELECT a.*, b.Tickers, b.TickersStartToEndDate
from join1 as a, join2 as b 
where (a.SecId = B.SecId);"""

sql2 = """SELECT a.*, b.ISIN, b.ISINStartToEndDate
from tab1 as a, join3 as b 
where (a.SecId = B.SecId);"""

sql3 = """SELECT a.*, b.FIGI
from tab2 as a, join4 as b 
where (a.SecId = B.SecId);"""

tab1 = pd.read_sql_query(sql1, con)
tab1.to_sql("tab1", con, index=False, if_exists='replace')
tab2 = pd.read_sql_query(sql2, con)
tab2.to_sql("tab2", con, index=False, if_exists='replace')
tab3 = pd.read_sql_query(sql3, con)

final = tab3.drop_duplicates()
final

,SecId,Name,NameStartToEndDate,Tickers,TickersStartToEndDate,ISIN,ISINStartToEndDate,FIGI
0,2234,"Sun Life Financial, Inc.",20070103:29991231,SLF,20070103:29991231,CA8667961053,20070103:29991231,BBG000LRMSB8
1,9470,ASE Test,20070103:20080530,ASTSF,20070103:20080530,SG9999000145,20070103:20080530,BBG000GV83F2
2,10729,Progen Industries Ltd.,20070103:20070328,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4
3,10729,Progen Pharmaceuticals Limited.,20070329:20090306,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4
4,10729,Avexa Pharmaceuticals Limited.,20090309:20090309,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4
...,...,...,...,...,...,...,...,...
124023,1000422074,Armstrong World Industries Inc.,20160317:20160401,AWIw,20160317:20160401,,,
124024,1000640750,Vmware Inc.,20211028:20211101,VMWw,20211028:20211101,,,
124025,1001106115,Interval Leisure Group Inc,20160411:20160512,IILGV,20160411:20160512,,,
124026,1004513431,WestRock Co,20160502:20160513,WRKw,20160502:20160513,,,
124027,1004597098,Ferrari N.V.,20160104:20160107,RACEw,20160104:20160107,,,

In [36]:
"""
Now have to pull apart each date column! The ISIN, Name and Tickers stuff. 

Also create tickers and cusips columns here too 

"""

final[["name_sdate", "name_edate"]] = final['NameStartToEndDate'].str.split('[ /:]', 
                                                                            n=1, expand=True)
final[["hticker_sdate", "hticker_edate"]] = final['TickersStartToEndDate'].str.split('[ /:]', 
                                                                                     n=1, expand=True)
final[["hcusip_sdate", "hcusip_edate"]] = final['ISINStartToEndDate'].str.split('[ /:]', 
                                                                                n=1, expand=True)

final[["root", "suffix"]] = final['Tickers'].str.split('[ /.]', n=1, expand=True)
final['suffix'].fillna('', inplace=True)

final['hcusip'] = final['ISIN'].str[2:10]
final['hcusip9'] = final['ISIN'].str[2:11]

final

C:\Users\clj585\Anaconda3\lib\site-packages\pandas\core\frame.py:3636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\clj585\Anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
C:\Users\clj585\AppData\Local\Temp/ipykernel_5868/456166182.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['hcusip'] = final['ISIN'].str[2:10]
C:\Users\clj585\AppData\Local\Temp/ipykernel_5868/456166182.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['hcusip9'] = final['ISIN'].str[2:11]

,SecId,Name,NameStartToEndDate,Tickers,TickersStartToEndDate,ISIN,ISINStartToEndDate,FIGI,name_sdate,name_edate,hticker_sdate,hticker_edate,hcusip_sdate,hcusip_edate,root,suffix,hcusip,hcusip9
0,2234,"Sun Life Financial, Inc.",20070103:29991231,SLF,20070103:29991231,CA8667961053,20070103:29991231,BBG000LRMSB8,20070103,29991231,20070103,29991231,20070103,29991231,SLF,,86679610,866796105
1,9470,ASE Test,20070103:20080530,ASTSF,20070103:20080530,SG9999000145,20070103:20080530,BBG000GV83F2,20070103,20080530,20070103,20080530,20070103,20080530,ASTSF,,99990001,999900014
2,10729,Progen Industries Ltd.,20070103:20070328,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4,20070103,20070328,20070103,20100701,20070103,20100701,PGLA,,000000PG,000000PGL
3,10729,Progen Pharmaceuticals Limited.,20070329:20090306,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4,20070329,20090306,20070103,20100701,20070103,20100701,PGLA,,000000PG,000000PGL
4,10729,Avexa Pharmaceuticals Limited.,20090309:20090309,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4,20090309,20090309,20070103,20100701,20070103,20100701,PGLA,,000000PG,000000PGL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124023,1000422074,Armstrong World Industries Inc.,20160317:20160401,AWIw,20160317:20160401,,,,20160317,20160401,20160317,20160401,,None,AWIw,,,
124024,1000640750,Vmware Inc.,20211028:20211101,VMWw,20211028:20211101,,,,20211028,20211101,20211028,20211101,,None,VMWw,,,
124025,1001106115,Interval Leisure Group Inc,20160411:20160512,IILGV,20160411:20160512,,,,20160411,20160512,20160411,20160512,,None,IILGV,,,
124026,1004513431,WestRock Co,20160502:20160513,WRKw,20160502:20160513,,,,20160502,20160513,20160502,20160513,,None,WRKw,,,
124027,1004597098,Ferrari N.V.,20160104:20160107,RACEw,20160104:20160107,,,,20160104,20160107,20160104,20160107,,None,RACEw,,,

In [37]:
"""

DATETIMES!!!

"""

# Gotta manually do this - this is because running pd.Timestamp.max returns something earlier than 2999 
final = final.replace({'29991231': '22620411'}, regex=True)

cols_to_datetime = ["name_sdate", "name_edate", "hticker_sdate", "hticker_edate",
                    "hcusip_sdate","hcusip_edate"]

for i in range(len(cols_to_datetime)):
    col = cols_to_datetime[i]
    final[col] = pd.to_datetime(final[col])
    
final

,SecId,Name,NameStartToEndDate,Tickers,TickersStartToEndDate,ISIN,ISINStartToEndDate,FIGI,name_sdate,name_edate,hticker_sdate,hticker_edate,hcusip_sdate,hcusip_edate,root,suffix,hcusip,hcusip9
0,2234,"Sun Life Financial, Inc.",20070103:22620411,SLF,20070103:22620411,CA8667961053,20070103:22620411,BBG000LRMSB8,2007-01-03,2262-04-11,2007-01-03,2262-04-11,2007-01-03,2262-04-11,SLF,,86679610,866796105
1,9470,ASE Test,20070103:20080530,ASTSF,20070103:20080530,SG9999000145,20070103:20080530,BBG000GV83F2,2007-01-03,2008-05-30,2007-01-03,2008-05-30,2007-01-03,2008-05-30,ASTSF,,99990001,999900014
2,10729,Progen Industries Ltd.,20070103:20070328,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4,2007-01-03,2007-03-28,2007-01-03,2010-07-01,2007-01-03,2010-07-01,PGLA,,000000PG,000000PGL
3,10729,Progen Pharmaceuticals Limited.,20070329:20090306,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4,2007-03-29,2009-03-06,2007-01-03,2010-07-01,2007-01-03,2010-07-01,PGLA,,000000PG,000000PGL
4,10729,Avexa Pharmaceuticals Limited.,20090309:20090309,PGLA,20070103:20100701,AU000000PGL5,20070103:20100701,BBG000TL5HV4,2009-03-09,2009-03-09,2007-01-03,2010-07-01,2007-01-03,2010-07-01,PGLA,,000000PG,000000PGL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124023,1000422074,Armstrong World Industries Inc.,20160317:20160401,AWIw,20160317:20160401,,,,2016-03-17,2016-04-01,2016-03-17,2016-04-01,NaT,NaT,AWIw,,,
124024,1000640750,Vmware Inc.,20211028:20211101,VMWw,20211028:20211101,,,,2021-10-28,2021-11-01,2021-10-28,2021-11-01,NaT,NaT,VMWw,,,
124025,1001106115,Interval Leisure Group Inc,20160411:20160512,IILGV,20160411:20160512,,,,2016-04-11,2016-05-12,2016-04-11,2016-05-12,NaT,NaT,IILGV,,,
124026,1004513431,WestRock Co,20160502:20160513,WRKw,20160502:20160513,,,,2016-05-02,2016-05-13,2016-05-02,2016-05-13,NaT,NaT,WRKw,,,
124027,1004597098,Ferrari N.V.,20160104:20160107,RACEw,20160104:20160107,,,,2016-01-04,2016-01-07,2016-01-04,2016-01-07,NaT,NaT,RACEw,,,